 # Data Science Final Assignment

## Introduction

This notebook is the final assignment for the Data Science course.  
It demonstrates the use of Markdown for documentation and Python for code execution.  
All the required exercises are included below.

## Data Science Languages

- Python  
- R  
- SQL  
- Julia  
- Scala

## Data Science Libraries

- Pandas  
- NumPy  
- Matplotlib  
- Scikit-learn  
- TensorFlow

## Data Science Tools

| Tool          | Category            |
|---------------|---------------------|
| Jupyter       | Notebook             |
| RStudio       | IDE                  |
| Apache Spark  | Big Data Processing  |
| TensorFlow    | Machine Learning     |
| Tableau       | Data Visualization   |

## Examples of Arithmetic Expressions

Below are some simple arithmetic operations using Python.

In [1]:
# Multiply and Add
result = (3 * 4) + 5
result

17

In [2]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

## Objectives

- Use Markdown formatting  
- Perform arithmetic operations using Python  
- List common data science tools and libraries  
- Share a public notebook using GitHub

## Author

Herald Vann D. Alalim